body {
    padding-top: 200px;
    background-color: rgb(160, 54, 54);
    font-family: 'Arial Narrow', sans-serif;
    display: flex;
}

.contenedor {
    text-align: center;
    display: inline-block;
    width: 800px;
    margin-left: 20%;
    font-size: 20px;
    background-color: rgb(209, 47, 82);
    box-shadow: 10px 10px 25px ;
    border: 2px solid;
    padding: 20px;
}

.libras {
    font-size: 2rem;
    color: antiquewhite;
}

p {
    font-size:36px;
    color: aquamarine;
}

input {
    width: 200px;
    height: 40px;
    font-size: 20px;
}